<%- include('partials/header') %>
<!-- Display every user's posts -->
<div class="posts-container">
  <% posts.forEach(post => { %>
  <div class="post">
    <div class="img-container post-image">
      <img src="<%= post.image %>" alt="#" />
    </div>

    <div class="post-info">
      <div class="post-actions">
        <div>
          <a href="#" title="Like" class="icon">
            <i class="fas fa-heart"></i
          ></a>
          <a href="#" title="Comment" class="icon"
            ><i class="fas fa-comment"></i
          ></a>
        </div>
        <a href="#" title="Bookmark" class="icon"
          ><i class="fas fa-bookmark"></i
        ></a>
      </div>

      <p class="post-text">
        <strong><%= post.userName %></strong> <%= post.caption %>
      </p>
    </div>
  </div>
  <% }) %>
</div>
