<%- include('partials/header') %>
<h1>Profile</h1>
<p>Username: <%= user.userName %></p>
<p>Email: <%= user.email %></p>
<h2>Add a post</h2>
<!-- Display success messages -->
<% if (locals.messages.success) { %> <% messages.success.forEach((el) => { %>
<p class="alert alert-error"><%= el.msg %></p>
<% }); %> <% } %>
