@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Text
$displayText: "Montserrat", sans-serif;
$bodyText: "Inter", sans-serif;

// Colors
$primaryColor: #fcc52b;
$secondaryColor: #b1b1b1;
$white: #f1f1f1;
$black: #1e1e1e;
